# Xcode
.DS_Store
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
*.moved-aside
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3

# Swift Package Manager
.build/
.swiftpm/*
!.swiftpm/xcode/
.swiftpm/xcode/*
!.swiftpm/xcode/xcshareddata/
.swiftpm/xcode/xcshareddata/*
!.swiftpm/xcode/xcshareddata/xcschemes/
!.swiftpm/xcode/xcshareddata/xcschemes/*.xcscheme

# CocoaPods
Pods/

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Build results
build/
